<div class="error-page-section blue-gradient">
    <div class="container">
        <div class="error-page-inner">
            <h1>The page you were looking for could not be found.</h1>
            <p>Perhaps, you may want to return to one of the following</p>
            <a href="/domain-pricing" class="btn">
                Buy a domain
            </a>
            <a href="/shared-web-hosting" class="btn">
                Get Web Hosting
            </a>
        </div>
    </div>
</div>