<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <div class="header-page-content text-center text-lg-start">
                <h1>About Azpire Hosting</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
</header>


<section class="about-us-section pt-100 pb-70">
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12 col-lg-6 pb-30">
            <div class="section-title section-title-two section-title-left desk-pad-right-10 m-0">
                <small>OUR PHILOSOPHY</small>
                <h2>Provide High quality Webhosting at affordable prices for anyone to go online.</h2>
                <a href="/#hosting" class="btn btn-gradient btn-pill">Get Started</a>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 pb-30">
            <div class="about-content-data">
                <div class="about-text text-center text-lg-start">
                    <p class="mb-20">At Azpirehosting we believe that anyone should be able to go online whether you are a small business or a Large scale business or simply want to try out and learn. Therefore we try to keep our prices at a minimum, so that you can focus your budget to that dream idea you have been waiting for.</p>
                    <p class="mb-20">We have a plan for everyone’s budget. Whether you are a small business trying to host your site or an enterprise looking for high end hardware, our plans ranging from Shared hosting to Dedicated Servers with industry leading infrastructure will suit you.</p>
                    <p class="mb-20">Finally we provide support to our customers via a customer ticketing system. Although we don’t believe you would have a problem,  just let us know. We will guide you happily.</p>
                    <p class="mb-20">At any case if you are not happy with our services (not that you will) we are happy to give you a 7 day money back gurantee.</p>
                    <p class="mb-20">With All that, <b>Welcome to the first step in getting your million dollar idea online.</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
</section>