<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <div class="header-page-content text-center text-lg-start">
                <h1>Contact Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
</header>

<div class="comment-section pt-100 pb-70 blue-gradient-with-opacity">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-12 col-lg-4 pb-30">
                <div class="comment-content-item">
                    <div class="about-content-image image-margin-left desk-pad-right-20">
                        <img src="https://res.cloudinary.com/azpire-ui/image/upload/v1625840358/azh_newui/support-2_bzqrtc.png" alt="support">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8 pb-30">
                <div class="comment-content-item">
                    <div class="comment-area bg-white">
                        <div class="sub-section-title">
                            <h3>Leave A Message</h3>
                            <p>Your email address will not be published. Required fields are marked *</p>
                        </div>
                        <div class="col-sm-12">
                            <% if (typeof errors !=='undefined' ) { %>
                                <% errors.forEach(function(error){ %>
                                    <div class="h4 submit-post-info text-danger">
                                        <%= error.msg %>
                                    </div>
                                    <% }); %>
                                        <% } %>

                                            <% if (typeof success_msg !=='undefined' ){ %>
                                                <div class="h4 submit-post-info tada animated text-success">
                                                    <%= success_msg %>
                                                </div>
                                                <% } %>

                        </div>
                        <div class="comment-input-area mt-30">
                            <!-- <form action="/contact-us" method="POST"> -->
                            <!-- <form id="contactForm">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group mb-20">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="flaticon-user"></i></span>
                                                </div>
                                                <input type="text" name="name" id="name" class="form-control" required
                                                    data-error="Please enter your name" placeholder="Name*" />
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group mb-20">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="flaticon-user"></i></span>
                                                </div>
                                                <input type="email" name="email" id="email" class="form-control"
                                                    required data-error="Please enter your email"
                                                    placeholder="Email*" />
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group mb-20">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="flaticon-phone-call"></i></span>
                                                </div>
                                                <input type="text" name="phone_number" id="phone_number"
                                                    data-error="Please enter your phone number" class="form-control"
                                                    placeholder="Phone" />
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group mb-20">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="flaticon-book"></i></span>
                                                </div>
                                                <input type="text" name="msg_subject" id="msg_subject"
                                                    class="form-control" required data-error="Please enter your subject"
                                                    placeholder="Subject*" />
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group mb-20">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="flaticon-envelope"></i></span>
                                                </div>
                                                <textarea name="message" class="form-control" id="message" rows="5"
                                                    required data-error="Please write your message"
                                                    placeholder="Your Message*"></textarea>
                                            </div>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="g-recaptcha" data-sitekey="<%= process.env.RECAPTCHA_SITE_KEY %>"
                                            required></div>
                                        <br>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <input class="btn btn-gradient" type="submit" value="Send A Message">
                                        <div id="msgSubmit"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </form> -->

                            <div class="alert alert-danger" role="alert">An unknown error occured. Please reachout to us by sending an email to <a href="mailto:hello@azpirehosting.com">hello@azpirehosting.com</a> or login to your <a href="https://panel.azpire-hosting.com/login" target="_blank">Control Panel</a> to open a support ticket. This will be fixed soon. We appologize for any inconvenience caused</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function formSuccess() {
        $("#contactForm")[0].reset();
        submitMSG(true, "Message Submitted!");
    }
    function formError() {
        $("#contactForm")
            .removeClass()
            .addClass("animate__animated animate__shakeX")
            .one("webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend", function () {
                $(this).removeClass();
            });
    }
    function submitMSG(valid, msg) {
        if (valid) {
            var msgClasses = "h4 submit-post-info tada animated text-success";
        } else {
            var msgClasses = "h4 submit-post-info text-danger";
        }
        $("#msgSubmit").removeClass().addClass(msgClasses).text(msg);
    }

    document.getElementById('contactForm').addEventListener('submit', e => {
        e.preventDefault();

        const name = document.querySelector('#name').value;
        const email = document.querySelector('#email').value;
        const phoneNumber = document.querySelector('#phone_number').value;
        const subject = document.querySelector('#msg_subject').value;
        const message = document.querySelector('#message').value;
        const captcha = document.querySelector('#g-recaptcha-response').value;

        var payload = {
            "name": name,
            "email": email,
            "phoneNumber": phoneNumber,
            "subject": subject,
            "message": message,
            "captcha": captcha,
        }

        $.ajax({
            type: "POST",
            url: "/contact-us",
            headers: {
                "Content-Type":"application/json",
                "Accept":"application/json",
            },
            data: JSON.stringify(payload),
            success: function (data) {
                if (data.success) {
                    grecaptcha.reset();
                    formSuccess();
                } else {
                    grecaptcha.reset();
                    formError();
                    submitMSG(false, data.msg);
                }
            },
        });
    });
</script>