<!doctype html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Bredh flat responsive HTML & WHMCS hosting and domains template">
	<meta name="author" content="coodiv.net (nedjai mohamed)">
	<link rel="icon" href="favicon.ico">
	<title>Azpire Hosting | Cheap and Reliable Hosting</title>

	<link rel="stylesheet" href="https://cdn.azpirehosting.info/cdn/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.azpirehosting.info/cdn/css/main.min.css" rel="stylesheet">
</head>

<body class="second-color-styles">
	<div class="modal fade" id="videomodal" tabindex="-1" role="dialog" aria-labelledby="videomodal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>

					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" id="video"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="preloader">
		<div class="preloader-container">
			<svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
				x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
				<circle fill="#675cda" stroke="none" cx="6" cy="50" r="6">
					<animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15"
						repeatCount="indefinite" begin="0.1" />
				</circle>
				<circle fill="#675cda" stroke="none" cx="30" cy="50" r="6">
					<animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10"
						repeatCount="indefinite" begin="0.2" />
				</circle>
				<circle fill="#675cda" stroke="none" cx="54" cy="50" r="6">
					<animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5"
						repeatCount="indefinite" begin="0.3" />
				</circle>
			</svg>
			<span>loading</span>
		</div>
	</div>
	<div id="coodiv-header" class="d-flex mx-auto flex-column">
		<div class="bg_overlay_header">
			<div class="bg-img-header-new-standard">&nbsp;</div>
		</div>

		<nav id="coodiv-navbar-header" class="navbar navbar-expand-md fixed-header-layout">
			<div class="container main-header-coodiv-s">
				<a class="navbar-brand" href="index-2.html"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483364/azh/header/logo_pomxco.png" alt="" /></a>
				<button class="navbar-toggle offcanvas-toggle menu-btn-span-bar ml-auto" data-toggle="offcanvas"
					data-target="#offcanvas-menu-home">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse navbar-offcanvas" id="offcanvas-menu-home">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Home</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" role="button" id="header-pages-drop-down"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hosting<span
									class="sr-only">(current)</span></a>
							<ul class="dropdown-menu coodiv-dropdown-header" aria-labelledby="header-pages-drop-down">
								<li><a class="dropdown-item" href="/shared-web-hosting">Shared Web Hosting</a></li>
								<li><a class="dropdown-item" href="/vps-cloud">VPS Cloud Hosting</a></li>
								<li><a class="dropdown-item" href="/vps">VPS Hosting</a></li>
								<li><a class="dropdown-item" href="/ded">Dedicated Server Hosting</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link" href="#" role="button" id="header-pages-drop-down"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Domains<span
									class="sr-only">(current)</span></a>
							<ul class="dropdown-menu coodiv-dropdown-header" aria-labelledby="header-pages-drop-down">
								<li><a class="dropdown-item" href="<%= process.env.RESELLER_PANEL_URL %>/bill/#search-domain">Domain Name Search</a></li>
								<li><a class="dropdown-item" href="<%= process.env.RESELLER_PANEL_URL %>/bill/#transfer-domain">Transfer Domain</a></li>
								<li><a class="dropdown-item" href="/domain-pricing">Domain Pricing</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/contact-us">Contact us</a>
						</li>
					</ul>
				</div>
				<ul class="header-user-info-coodiv">
					<li class="dropdown"><a role="button" id="header-login-dropdown" target="_blank" href="https://panel.azpirehosting.com/login">Client Area</a>
					</li>
				</ul>
			</div>
		</nav>

        <!-- Body -->
            <%- body %>
        <!-- End of Body-->

		<!-- footer -->
		<section class="footer-section-banner">
			<div class="container">
				<div class="row free-trial-footer-banner">
					<div class="col-md-8">
						<h5 class="free-trial-footer-banner-title">join now and have free month of deluxe hosting</h5>
						<p class="free-trial-footer-banner-text">We offers a free month of service for new customers.* Sign
							up for your trial offer and instantly have deluxe hosting in your account with free domain
							included.</p>
					</div>
					<div class="col-md-4 free-trial-footer-links d-flex mx-auto flex-column">
						<div class="mb-auto"></div>
						<div class="mb-auto">
							<a class="sign-btn" href="signup.html">sign up</a>
							<a class="log-btn" href="signin.html">log in</a>
						</div>
						<div class="mt-auto"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="footer-section">
			<div class="container">
				<div class="row">
					<div class="col-md-9 quiq-links-footer">
						<h5 class="quiq-links-footer-title">Quick Links</h5>
						<div class="row">
							<ul class="col-md-6 quiq-links-footer-ul">
								<li><a href="#">our company announcements</a></li>
								<li><a href="#">Knowledgebase</a></li>
								<li><a href="#">Downloads</a></li>
								<li><a href="#">Network Status</a></li>
								<li><a href="#">My Support Tickets</a></li>
								<li><a href="#">Register a New Domain</a></li>
								<li><a href="#">Transfer New Domain</a></li>
								<li><a href="#">Software Products</a></li>
								<li><a href="#">Dedicated Hosting</a></li>
							</ul>
							<ul class="col-md-6 quiq-links-footer-ul">
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Network Status</a></li>
								<li><a href="#">Forgot Password?</a></li>
								<li><a href="#">Create an account with us</a></li>
								<li><a href="#">Login to your account</a></li>
								<li><a href="#">make a new payment</a></li>
								<li><a href="#">Review & Checkout</a></li>
								<li><a href="#">client area</a></li>
								<li><a href="#">manage your account</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3">
						<h5 class="quiq-links-footer-title">secure and contact</h5>
						<p class="secure-img-footer-area">
							<img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483333/azh/footer/secure_s1gv1i.png" alt="" />
							<span>this is for demo reason only</span>
						</p>
						<div class="footer-contact-method">
							<a href="#">
								<span>email us :</span>
								<b><span class="__cf_email__"
										data-cfemail="1a696f6a6a75686e5a7975757e736c34747f6e">[email&#160;protected]</span></b>
								<i class="fas fa-at"></i>
							</a>
							<a href="#">
								<span>call us :</span>
								<b>00123 45 67 89 91</b>
								<i class="fas fa-phone"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="mr-tp-40 row justify-content-between footer-area-under">
					<div class="col-md-4">
						<a href="#"><img class="footer-logo-blue" src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483364/azh/header/logo-w-f_wwk4h9.png" alt="" /></a>
						<div class="footer-social-icons">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-twitter"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
							<a href="#"><i class="fab fa-dribbble"></i></a>
							<a href="#"><i class="fab fa-google"></i></a>
						</div>
					</div>
					<div class="col-md-4 row">
						<ul class="col-md-6 under-footer-ullist">
							<li><a href="#">about us</a></li>
							<li><a href="#">our services</a></li>
						</ul>
						<ul class="col-md-6 under-footer-ullist text-right">
							<li><a href="#">privacy policy</a></li>
							<li><a href="#">terms of sevice</a></li>
						</ul>
					</div>
				</div>
				<div class="row justify-content-between final-footer-area mr-tp-40">
					<div class="final-footer-area-text">
						© Copyright 2019 coodiv , made with love in ageria
					</div>
					<div class="footer-lang-changer">
						<div class="lang-changer-drop-up">
							<a class="menu-btn-changer" role="button" id="dropupmenulagchanger" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false" href="#"><i class="fas fa-globe-asia"></i>
								english</a>
							<div class="dropdown-menu dropupmenulagchanger" aria-labelledby="dropupmenulagchanger">
								<a class="dropdown-item" href="#">english</a>
								<a class="dropdown-item" href="#">العربية</a>
								<a class="dropdown-item" href="#">Español</a>
								<a class="dropdown-item" href="#">Nederlands</a>
								<a class="dropdown-item" href="#">Français</a>
								<a class="dropdown-item" href="#">Dansk</a>
								<a class="dropdown-item" href="#">Português</a>
								<a class="dropdown-item" href="#">Deutsch</a>
							</div>
						</div>
						<div class="lang-changer-drop-up">
							<a class="menu-btn-changer" href="#"><img src="https://res.cloudinary.com/azpire-ui/image/upload/v1624483308/azh/flags/usa_ajdxmr.svg" alt="" /> united states</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end of footer -->

        <!-- scripts -->
		<script type="text/javascript">
			var pathname = window.location.pathname;
			if( pathname !== "/") {
				var element = document.getElementById("coodiv-header");
				element.classList.add("subpages-header");
			}else{
				var element = document.getElementById("coodiv-header");
				element.classList.remove("subpages-header");
			}
		</script>

		<script src="https://kit.fontawesome.com/06b7542c72.js" crossorigin="anonymous"></script>

        <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/jquery.min.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/popper.min.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/bootstrap.min.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/template-scripts.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/flickity.pkgd.min.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/owl.carousel.min.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/parallax.min.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/mailchamp.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/bootstrap.offcanvas.min.js"></script>

        <script src="https://cdn.azpirehosting.info/cdn/js/jquery.touchSwipe.min.js"></script>
        <!-- <script src="https://cdn.azpirehosting.info/cdn/js/demo.js"></script> -->
        <!-- end of scripts -->
        </body>
        </html>