<div class="container blue-gradient">
    <div class="row align-items-center">
        <div class="col-sm-12 ">
            <div class="header-page-content text-center text-lg-start">
                <h1>WHOIS Checker</h1>
                <p>Coming Soon!</p>
                <ul class="section-button">
                    <li><a href="/"><button class="btn btn-pill">Back to Homepage</button></a></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
</header>