<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12">
            <div class="header-page-content text-center text-lg-start">
                <h1>Acceptable Use Policy</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Acceptable Use Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
</header>

<section class="privacy-page-section p-tb-100">
    <div class="container">
        <div class="terms-privacy">
            <div class="sub-section-title">
                <h3>Azpire Hosting Acceptable Use Policy</h3>
            </div>

            <p>Last update: 30-08-2021 21:26h IST</p>

            <p>azpirehosting.com, azpirehosting.info, azpire-hosting.com are a part of Azpire Hosting</p>

            <p> An  <b>Acceptable Use Policy (AUP)</b> is a set of rules and conditions systematized by a network, system or a website owner that define and restrict the ways in which the network, system or website may be utilized.</p>

            <p>The <b>AUP of Azpire Hosting</b>, which is owned by Azpire Hosting, is aimed at explicitly outlining the purposes for which customers CANNOT use our hosting services and position data on our network servers.</p>

            <p>This Acceptable Use Policy (AUP) is accepted as part of the Web Hosting Terms of Service each user agrees to abide by when signing up for an account with our hosting services. Any violation of these AUP terms will be considered as violation of our Web Hosting Terms of Service.</p>

            <p>We - Azpire Hosting, shall be the final part to determine whether an act constitutes a violation of this AUP and misuse of our services. We reserve our right to respond accordingly and/or immediately terminate the provision of the services, shall we become aware, and/or have sufficient evidence, of any prohibited conduct outlined in this AUP, or any other action threatening the secure environment of our hosting customers and/or network of servers. We shall be the sole arbiter in determining the sufficiency of the present evidences.</p>

            <p>In order to protect our company's reputation and responsibilities, and guarantee robust and reliable hosting service to all our customers, as well as the privacy and security of all our individual users, we - Azpire Hosting - hereby state the following AUP conditions to come into force for each user signing up for a web hosting account with our hosting services:</p>

            <br>
            <div class="sub-section-title">
                <h3>1. SYSTEM ABUSE</h3>
            </div>
            <p>Any customer in violation of our system or network security is subject to criminal and civil liability, as well as immediate account termination. Examples include, but are not limited to the following:</p>

            <p><b>- Unauthorized access, use, probe, or scan of our system's security, authentication measures, data or traffic. Interference with the service to any user, host or network including, but not limited to: e-mail bombing, flooding, deliberate attempts to overload the system and broadcast attacks, forging of any TCP/IP packet header or any part of the header information in an e-mail or newsgroup posting.</b> </p>

            <p><b>- Any attempt at doing harm to a server or a customer of services:</b> <br>Azpire Hosting will immediately and resolutely react to any attempt at misuse of an Internet account or computer, or any attempt to gain access to an internet account or computer by a Azpire Hosting customer unauthorized by the account/computer owner. Such attempts include, but are not limited to the following: 'Internet scamming' (tricking other people into releasing their passwords, etc.), password robbery, security hole scanning, running proxy - proxy lists and any kind of proxy scripts (including, but not limited to php proxy and nph proxy), introducing of any computer programs (viruses, Trojan horses, trap doors, back doors, worms, time bombs, packet bombs, cancel bots, etc.) that are intended to negatively interfere with, intercept, irreversibly damage or take hold of any system, data or personal information. It WILL NOT matter whether the attacked account or computer belongs or not to Azpire Hosting services. The fraud will be subject to actions based on the very nature of the attack and those may represent a warning, an account suspension or cancellation, and/or civil or criminal legal actions.</p>

            <p><b>- Background operations/programs on servers:</b><br> 'Background process' is a program that runs in the background of the operating system. What is specific for a background process is that, once started, it runs simultaneously with other foreground processes. This means that, the shell executing the background operation does not wait for it to finish or terminate, as it does with foreground processes, but is free to start executing more operations along with the background one. Typical background processes are ircd, irc bot, bnc, and many others.<br>

            Background processes are not permitted on any of our cloud and shared hosting servers, as they usually lead to CPU overload and can be used for malicious and/or illegal actions. As our primary task is to provide highest quality web hosting service to all our customers, we cannot permit any background processes to be executed and threaten the performance of our server network. Our cloud and shared hosting system does not allow a big multitude of users to simultaneously use the system memory and processing time of our servers.</p>

            <p><b>- Excessive use of system resources:</b><br>In order to ensure higher server performance and quality of hosting service all cloud hosting plans are subject to certain resource limitations concerning, but not limited to, server CPU usage, Memory usage, disk-space and traffic. If a hosting account exceeds the allowed amount of system resources the account owner will be immediately notified to take actions in order to decrease the usage. If such action is not instantly taken by the owner the account will be suspended. If an excessive CPU usage is detected the account owner will be offered to place an order for a CPU usage upgrade or upgrade to a plan which allows higher CPU usage.

            <br>If any hosting account is found to be causing degradation of the server and/or our hosting network's performance, regardless of the reason, the account will be subject to suspension or immediate removal, depending on the situation. Azpire Hosting will be the sole arbiter in determining whether a given account is excessively using the server resources and/or causing server degradation.</p>
            <br>

            <p> Generally. You may not use, or encourage, promote, facilitate or instruct others to use, the Service Offerings or Site for any illegal, harmful or offensive use, or to transmit, store, display, distribute or otherwise make available content that is illegal, harmful, or offensive.</p>

            <p> Illegal Activities. Any illegal activities, including advertising or making available gambling sites or disseminating, storing or promoting child pornography. You may not use Service Offerings in the commission of any crime that violates the laws of any local, state, and federal government of the United States of America. Violations of this provision may result in us making your information and information about your service and your use of our Service Offerings available to law enforcement with or without your consent or knowledge. This includes material that is obscene, defamatory, constitutes an illegal threat, or violates export control laws.</p>

            <p>Harmful or Fraudulent Activities. Activities that may be harmful to others or our operations or reputation, including promoting or disseminating fraudulent goods or services or schemes, including ponzi or pyramid schemes, phishing, or pharming, or engaging in deceptive practices, or obtaining or attempting to obtain Service by any means or device with intent to avoid payment.</p>

            <p> Offensive Content. Content that is defamatory, grossly offensive, obscene, abusive, an invasive of privacy, or is otherwise objectionable, including content that exploits children or constitutes child pornography, relates to bestiality, expresses bigotry or hatred, constitutes harassment, or depicts non-consensual sex acts. This includes material that defames, abuses, or threatens any person or group. Content including nude art, pornography, sex-related merchandising and links to such sites elsewhere that are permitted by the laws in the city of Kansas City, the state of Missouri and the country of the United States of America comply with acceptable use.</p>

            <p> Harmful Content. Content, software or computer technology that may damage, interfere with, intercept, or expropriate any system, program, or data, including viruses, trojan horses, worms, time bombs, or cancelbots are strictly prohibited. Piracy, hacking, cracking, phreaking, warez, pyrotechnics, exploitive software and texts or communications that educate or encourage this activity and/or use are also prohibited.</p>

            <p>No Security Violations. You may not use Services Offerings to violate the security or integrity of any network, computer, communications system, software application, network or computing device (each, a "System"). Prohibited activities include: (i) Accessing any System or account or computer resource without permission, including attempting to probe, scan, or test the vulnerability of a System or to breach any security or authentication measures used by a System; (ii) Monitoring data or traffic on a System without permission; (iii) Forging TCP-IP packet headers, e-mail headers, or any part of a message describing its origin; and (iv) Alteration, destruction, or any attempt thereof, of any information of FREHOSTINGRESELL customers or end users by any means of device. This prohibition includes the use of aliases or anonymous remailers.</p>

            <p> No Network Abuse. You may not make network connections to any users, hosts, or networks unless you have permission to communicate with them. Prohibited activities include: (i) Monitoring or crawling of a System that impairs or disrupts the System being monitored or crawled; (ii) Denial of Service (DoS) - Inundating a target with communication requests so the target either cannot respond to legitimate traffic or responds so slowly that it becomes ineffective (e.g. synchronized number sequence attacks); (iii) Interfering with the proper functioning of any System, including any deliberate attempt to overload a system by mail bombing, unsolicited bulk emailing, initiation of pinging, news bombing, broadcast attacks, stress testing, port scanning, or flooding techniques; (iv) Operating network services like open proxies, open mail relays, or open recursive domain name servers; (v) Using manual or electronic means to avoid any use limitations placed on a system, such as access and storage restrictions; (vi) Attack traffic that disrupts any portion of our network (incoming or outgoing) will be blocked until the customer is able to work with security personnel to resolve the issue; (vii) IRC websites and IRC servers are prohibited; (viii) You may not upload ROMs and Emulators; (ix) You must contact us prior to installing a CDN within our infrastructure. "Shared Resource" CDN's are strictly prohibited.</p>

            <br>
            <div class="sub-section-title">
                <h3>2. SPAM & SPAMVERTIZING</h3>
            </div>
            <p>SPAMMING IS PROHIBITED. Users MAY NOT utilize our hosting services to transmit, distribute or deliver any unsolicited bulk or commercial messages over the Internet (an action known as "spam" or "spamming").</p>
            <p>Spamming is a violation of ethic norms and will be interpreted as an infringement. Azpire Hosting will not tolerate the sending of unsolicited bulk or commercial messages through our services, as well as through another service that is mentioning, in some way, our customer's domain name or implies the utilization of our network or our e-mail services for sending the unsolicited bulk or messages.</p>

            <p>SPAMVERTISING IS PROHIBITED. 'Spamvertizing' refers to the practice of sending unsolicited spam messages for the purpose of advertising a particular website.</p>

            <p>'E-mail spoofing' is a fraudulent e-mail activity in which the sender's (3td party) e-mail address and other parts of the e-mail header are changed so as to appear that the e-mail has been sent from a different source (e-mail address owner/server).</p>

            <p>'Unsolicited message' is a message that is sent against the privacy policy of a newsgroup, or is sent to a recipient without their explicit permission. We, at our sole discretion, shall determine whether any of the messages you are sending is spam or spamvertizing. For your information, spamming generally includes, but is not limited to the following</p>
            <ul class="terms-privacy-list">
                <li><strong> <i class="cil-arrow-right"></i> </strong>Sending of unsolicited messages in bulk, or sending of unsolicited e-mails, which provoke complaints from recipients;</li>
                <li><strong> <i class="cil-arrow-right"></i> </strong>Sending of junk mail;</li>
                <li><strong> <i class="cil-arrow-right"></i> </strong>Use of distribution lists that include people who have not given prior explicit permission to be involved in such a distribution process;</li>
                <li><strong> <i class="cil-arrow-right"></i> </strong>Posting commercial ads to USENET newsgroups that do not permit it;</li>
                <li><strong> <i class="cil-arrow-right"></i> </strong>Posting articles containing binary encoded data to non-binary newsgroups;</li>
                <li><strong> <i class="cil-arrow-right"></i> </strong>Excessive and repeated posting of off-topic messages to newsgroups;</li>
                <li><strong> <i class="cil-arrow-right"></i> </strong>Excessive and repeated cross-posting;</li>
                <li><strong> <i class="cil-arrow-right"></i> </strong>E-mail harassment of another Internet Customer or Customers, including but not limited to, transmitting of any threatening, libelous or obscene material, or material of any nature that may be deemed offensive;</li>
                <li><strong> <i class="cil-arrow-right"></i> </strong>E-mailing of age-inappropriate communications or content to anyone under the age of 18.</li>
            </ul>

            <p>No Unconfirmed Mailing Lists, Unsolicited Bulk E-Mail or Other Message Abuse. You will not distribute, publish, send, or facilitate the sending of unsolicited mass/bulk e-mail ("UBE") or other messages, promotions, advertising, or solicitations (like "spam"), including commercial advertising and informational announcements. You will not alter or obscure mail headers or assume a sender's identity without the sender's explicit permission. You will not collect replies to messages sent from another internet service provider if those messages violate this AUP or the acceptable use policy of that provider. You will not reference Us in any unsolicited email that you send. Subscribing email addresses to any mailing list without the express and verifiable permission of the email address owner is prohibited. All mailing lists must be Closed-loop ("Confirmed Opt-in"). The subscription confirmation message received from each address owner must be kept on file for the duration of the existence of the mailing list. Purchasing lists of email addresses from 3rd parties for mailing to or from any < Azpire Hosting > hosted domain, or referencing any Azpire Hosting account, is prohibited.</p>
            <br>
            <div class="sub-section-title">
                <h3>3. INAPPROPRIATE OR UNLAWFUL CONTENT</h3>
            </div>

            <p>CONTENT published or transmitted via Azpire Hosting's hosting services includes website content, email content, forum/blog postings, chat content, and/or any other type of content hosted on our servers, published online or transmitted through our network's services.</p>

            <p>The user of our services is NOT permitted to post online content or have links to content that:</p>

            <p>is defamatory, abusive or obscene, violates a person's reputation/privacy, is reasonably deemed offensive by the web community, is anti-religious or anti-human rights, or contains any type of threatening or hate speech, encourages harassment or physical harm to any group or individual, or is otherwise malicious/fraudulent and may result in complaints/liabilities/or retaliation against Azpire Hosting by offended viewers;</p>
            <p>Promotes or encourages illegal activities (e.g. illegal drugs, illegal gambling, arms trafficking, etc.) or violates any applicable law, statute, ordinance or regulation, including but not limited to the laws and regulations governing export control, unfair competition, false advertising, consumer protection, etc.</p>
            <p>represents pornography - any type of pornographic/adult material, including child pornography, or advertisements of pornographic websites;</p>
            <p>represents infringement on copyright, patents, trademarks, trade secrets, or third party's intellectual property or proprietary rights, including pirated computer programs, hacking/phreaking software, warez or any type of software/content (including also ROMs, ROM Emulators, media files - MP3, AVI, .RM, etc., torrent files, and others) that is copyrighted, is NOT uploaded in compliance with its license agreement or is NOT freely available for distribution.</p>

            <br>
            <div class="sub-section-title">
                <h3>4. COPYRIGHTS</h3>
            </div>
            <p>Copyrighted material must not be placed on Customers' accounts without the explicit permission of the copyright owner or a person specifically authorized to give such permission by the copyright owner. Upon receipt of a claim for copyright infringement, or a notice of such violation, we will immediately run full investigation and, upon confirmation, will promptly remove the infringing material from the Services. Further procedures (in accordance with our stated below corrective measures) will be carried out if necessary. We will assume no liability to any Customer of the Services for the removal of any such material.</p>

            <br>
            <div class="sub-section-title">
                <h3>5. CORRECTIVE ACTIONS</h3>
            </div>

            <p>We reserve our right to be the sole arbiter in determining the seriousness of each infringement and to immediately take corrective actions.</p>

            <p>We will disable the customer's account if we deem necessary, at our sole discretion. Upon closing of the customer's account we will send an e-mail notification to the customer, stating the reason for the termination and quoting our terms' chapter that has been violated. The customer will be given an opportunity to respond and take measures to remedy the situation should he/she consider him/herself abused by a third party. Upon fulfilling of this obligation, we may re-activate the customer's account, if we find, at our own discretion, sufficient evidence pro customer's side.</p>

            <p>Closed accounts due to repeated violations will not be re-activated. A backup may be requested, however it will be subject to certain penalty fees imposed according to the breach of this AUP terms. The final penalty fee will be determined by the type and frequency of the violations.</p>

            <br>
            <div class="sub-section-title">
                <h3>6. REPORTING VIOLATIONS</h3>
            </div>

            <p>If you need to report a violation of this AUP agreement or believe that you or your system has been subject to attack originating from our system, please contact us immediately. Our team will fully investigate the situation and provide you with professional assistance.</p>

            <br>
            <div class="sub-section-title">
                <h3>7. REVISIONS</h3>
            </div>

            <p>We reserve our right to change this AUP at any time, without prior notice. We encourage our users to periodically review this Acceptable Use Policy and our Web Hosting Terms of Service.</p>
        </div>
    </div>
</section>