<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-">
            <div class="header-page-content text-center text-lg-start">
                <h1>Refund Policy</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Refund Policy</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
</header>

<section class="privacy-page-section p-tb-100">
    <div class="container">
        <div class="terms-privacy">
            <div class="sub-section-title">
                <h3>Azpire Hosting Refund policy</h3>
            </div>

            <p>Last update: 30-08-2021 21:26h IST</p>

            <p>azpirehosting.com, azpirehosting.info, azpire-hosting.com are a part of Azpire Hosting</p>

            <p> Azpire Hosting accounts are set up on a prepay basis. Azpire Hosting’s Customers may decide to cancel
                their accounts at any time; however they will get a full refund of the service only if the cancellation
                request is made within 7 days of purchasing of the account, according to our Money Back Guarantee
                Policy.</p>

            <p>To cancel an account, the Customer needs to send a support ticket to our Sales Department and provide any
                authentication credentials requested by Azpire Hosting. Other forms of cancellation requests will not be
                accepted. Any incentives (free bonuses) offered to the Customer upon sign-up will be also cancelled.</p>

            <p>Domain name registrations/transfers, service upgrades, vps, addons, dedicated servers and web hosting
                plan renewals are treated as non-refundable services (see below) and cannot be cancelled or refunded
                after being activated upon Customer request. The Customer will have the possibility to transfer his/her
                domain away to another host.</p>

            <p>Late cancellations, as well as accounts cancelled by Azpire Hosting due to TOS violations (where the
                Customer has decided not to fix the violation) do not qualify for the 7-daymoney back guarantee.</p>

            <p>All credit requests for VISA, MasterCard, American Express, and Discovery payments are processed within
                48 hours of the submission of the refund request (by ticket, as mentioned above). The funds will be
                credited back to the Customer’s credit/debit card and affect the Customer’s credit/debit card balance in
                accordance with the credit/debit card issuer’s terms of service OR THE PAYMENT METHOD USED.</p>

            <p>All credit requests for PayPal payments are processed within 48 hours of the submission of the refund
                request (ticket, as mentioned above). The funds will be credited back to the Customer’s PayPal account
                and affect Customer’s PayPal balance in accordance with PayPal’s terms of service.</p>



            <div class="sub-section-title">
                <h3>MONEY-BACK GUARANTEE POLICY</h3>
            </div>
            <p>Azpire Hosting offers a 7-daymoney back guarantee. If, for any reason, the Customer is dissatisfied with
                our shared hosting services, we will refund their hosting fees at any time during the first 7 days after
                the signup date of any hosting account the Customer has purchased from us. The Customer can submit a
                refund request in a trouble ticket from the Web Hosting or Reseller Control Panel, and receive full
                refund for any hosting plan the Customer has purchased from us within 7 days of the payment data of the
                account.</p>

            <p>SSL certificates, as a third party service, are not covered by the 7-day money back guarantee, which
                Azpire Hosting provides for its web hosting services. An SSL certificate is eligible for refund for a
                7-day period after the original purchase.</p>

            <p>All recurring payments and all payments made via Western Union, Bitcoin or bank wire are non-refundable
                and are not subject to the 7-day money back guarantee.</p>
            <br>

            <div class="sub-section-title">
                <h3>NON-REFUNDABLE SERVICES</h3>
            </div>
            <p><b>Non-Refundable Services:</b> all service upgrades, wallet refills , addons, dedicated servers, vps and
                plan renewal services purchased from the Web Hosting Control Panel; all 1-year or multi-year domain
                registration or transfer services purchased at sign-up or from the Web Hosting Control Panel.</p>

            <p>All domain registrations and domain transfers are final, do not include any money-back guarantee and will
                be subject to a fee that is calculated on the basis of the actual NON-PROMOTIONAL annual price of the
                purchased domain’s TLD, multiplied by the number of years of registration or transfer. Any refund amount
                credited back to a Customer in accordance with our 7-day money back guarantee will not include the cost
                of the non-refundable services (if any) that have been purchased with the Customer’s web hosting plan
                upon sign-up (i.e. the Customer will be issued a partial refund on the original transaction if he/she
                has purchased non-refundable services within the web hosting account). A table containing the annual
                NON-PROMOTIONAL prices of all domain names offered by Azpire Hosting is located in section 3 of this
                legal document.</p>
            <br>


            <div class="sub-section-title">
                <h3>CHARGEBACKS</h3>
            </div>
            <p>Chargebacks are not considered as a way of refunding. Any Customer who initiates a credit card chargeback
                in response to a bill or order placed at Azpire Hosting will be subject to full investigation.</p>
            <p>When signing up for a web hosting service with Azpire Hosting, Customers agree to the conditions
                explicated in our Acceptable Use Policy (AUP) and the Web Hosting Terms of Service. Thus, Azpire
                Hosting, as well as our authorized payment service providers, will resort to these documents as an
                evidence for the Customer’s agreement, especially in the event that a Customer sends a chargeback
                inquiry based on points that he/or she first accepted, but is trying now to refute.</p>
            <p>If/When a chargeback report is received, the first step of our Azpire Hosting team will be to try to
                contact the Customer. Meanwhile, the Customer’s account will be suspended (in order to protect our
                system from fraudulent activity and misuse) and will remain suspended until the reasons for the
                chargeback have been clarified and decision has been taken for according action.</p>
            <p>If the chargeback has occurred due to some misunderstanding, a reverse payment procedure will be
                initiated with our authorized retailers and eventually the account will be re-activated.</p>
            <p>If the Customer has sent a chargeback request based on groundless argumentations (according to our own
                judgment and these Web Hosting Terms of Service), then a dispute will be started with our authorized
                retailers in which the Web Hosting Terms of Service and the AUP of Azpire Hosting will serve as proof of
                the Customer’s agreement. The retailers then, taking into consideration all provisions in these legal
                documents, will decide whether the Customer has had sufficient grounds for the chargeback or Azpire
                Hosting has the right to a reverse payment.</p>
            <br>
        </div>
    </div>
</section>